@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    color: #f3f4f6; /* text-gray-100 */
    background-color: #111827; /* bg-gray-900 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
